<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <appSettings>
        <add key="Eth_IP" value="192.168.0.11" />
        <add key="Soc_IP" value="127.0.0.1" />
        <add key="Soc_PORT" value="50088" />
        <add key="axisnum" value="1" />
        <add key="single_sp" value="0.1" />
        <add key="datum" value="3" />
        <add key="datumsp" value="2.5" />
        <add key="datum_slow" value="1" />
        <add key="node_num" value="11" />
        <add key="node1" value="600" />
        <add key="node2" value="550" />
        <add key="node3" value="500" />
        <add key="node4" value="450" />
        <add key="node5" value="400" />
        <add key="node6" value="350" />
        <add key="node7" value="300" />
        <add key="node8" value="250" />
        <add key="node9" value="200" />
        <add key="node10" value="150" />
        <add key="node11" value="80" />
        <add key="step" value="0.005" />
    </appSettings>
</configuration>
